
.DS_Store
midterm_project/.ipynb_checkpoints/EDA-checkpoint.ipynb
midterm_project/data/LSWMD.pkl
midterm_project/data/LSWMD.pkl.zip
midterm_project/code_ref/.ipynb_checkpoints/wafer-defect-classification-by-deep-learning-checkpoint.ipynb
midterm_project/code_ref/.ipynb_checkpoints/EDA-checkpoint.ipynb
midterm_project/.ipynb_checkpoints/mid_term_project_wafer_classification-checkpoint.ipynb
midterm_project/data/wm811k_train_augmentation.pkl
midterm_project/.ipynb_checkpoints/mid_term_project_wafer_classification_CNN_WDI-checkpoint.ipynb
midterm_project/.ipynb_checkpoints/mid_term_project_wafer_classification_CNN_WDI-checkpoint.ipynb
midterm_project/.ipynb_checkpoints/mid_term_project_wafer_classification_data_augmentation-checkpoint.ipynb
midterm_project/.ipynb_checkpoints/mid_term_project_wafer_classification_data_augmentation-checkpoint.ipynb
midterm_project/.ipynb_checkpoints/mid_term_project_wafer_classification_data_augmentation-checkpoint.ipynb
HW_RCNN/.idea/HW_RCNN.iml
HW_RCNN/.idea/inspectionProfiles/profiles_settings.xml
HW_RCNN/.idea/inspectionProfiles/Project_Default.xml
HW_RCNN/.idea/misc.xml
HW_RCNN/.idea/modules.xml
HW_RCNN/.idea/vcs.xml
.idea/cbnu_22_1_capstone.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
final_project/data/data_ver_1
final_project/data/data_ver_2
final_project/data/ver2_train_except_woo
final_project/data/ver2_valid_except_woo
final_project/data/.ipynb_checkpoints/test2-checkpoint.txt
final_project/data/.ipynb_checkpoints/test3-checkpoint.txt
final_project/data/.ipynb_checkpoints/text_file_read_test-checkpoint.ipynb
final_project/data/.ipynb_checkpoints/학습데이터는 커서 git upload 안 됨-checkpoint.txt
final_project/data/old_data
final_project/data/ver4_data
final_project/data/add_head_data
final_project/data/labelimg
final_project/data/.ipynb_checkpoints/dataset_count-checkpoint.ipynb
final_project/data/data_220608
.idea/inspectionProfiles/Project_Default.xml
